/benchmark_scripts/*.csv
/benchmark_scripts/.idea/*
/benchmark_scripts/workload_generator/*.gwf
/benchmark_scripts/workload_generator/*.csv
/benchmark_scripts/log_data/*.csv
/co2_prediction/UniGroningen_DE_2018.csv
/benchmark_scripts/workload_generator/job_files_used/*.gwf
/benchmark_scripts/log_data/plots